@font-face {
    font-family: 'Angelina';
    src: url('../fonts/Angelina/angelina-webfont.eot');
    src: url('../fonts/Angelina/angelina-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Angelina/angelina-webfont.woff') format('woff'),
         url('../fonts/Angelina/angelina-webfont.ttf') format('truetype'),
         url('../fonts/Angelina/angelina-webfont.svg#AngelinaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, nav ul, nav ol {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

*{ margin: 0; padding: 0; }

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

a{ text-decoration: none; }

body{ background: url("../images/container-bg.jpg"); color: white; font-family: Helvetica Neue, Helvetica; }

header{ background: url("../images/barPattern.jpg") repeat-x; margin: 0px; }

	/*header .container{ background: purple; }*/

.container{ margin: 0 auto; width: 70%; } /* 974px */

.floated, .top-bar ul, .top-bar li{ display: inline-block; vertical-align: top; }

.menu{ width: 80%; }

.menu li{ padding: 0 9.240246% 0 0; }

.menu a{  color: #5D310E; font-size: 1.4375em; font-weight: 500; text-shadow: 0px 1px 0px #C5913F; } /* 22px / 16px */

	.menu a:hover, .menu a.active{ color: #472408; }

.primary{ margin: 0 0 0 1.388888%; width: 32.854220%; } /* 360px / 974px */

	.primary h1{ padding: 20px 14% 40px; width: 94.44%; } /* 340px / 360px */

	.primary li{ font-family:'Angelina'; font-size: 1.875em; letter-spacing: 0.125em; }

		.primary li span{ color: #ccc; }

.secondary{ margin: 0 0 0 7.14285714%; width: 57.49%; } /* 560px / 974px */

.social li{ padding: 0 3.59342915% 0 0; }

.top-bar ul{ padding: 0.6em 0 1em 0;  }

#download { width: 38.75%; }

/*#ipad-iphone{ background: red; }*/

#ipad-iphone img, .primary h1 img, #download img { max-width: 100%;}
























